* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.menu {
  position: fixed;
  background-color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  -webkit-transition: top 0.8s;
  -o-transition: top 0.8s;
  transition: top 0.8s;
  -webkit-box-shadow: 0 18.8px 4.1px -11px rgba(0, 0, 0, 0.024), 0 24.6px 10.3px -11px rgba(0, 0, 0, 0.042), 0 26.6px 21.1px -11px rgba(0, 0, 0, 0.053), 0 28px 43.4px -11px rgba(0, 0, 0, 0.062), 0 30px 119px -11px rgba(0, 0, 0, 0.07);
          box-shadow: 0 18.8px 4.1px -11px rgba(0, 0, 0, 0.024), 0 24.6px 10.3px -11px rgba(0, 0, 0, 0.042), 0 26.6px 21.1px -11px rgba(0, 0, 0, 0.053), 0 28px 43.4px -11px rgba(0, 0, 0, 0.062), 0 30px 119px -11px rgba(0, 0, 0, 0.07);
  z-index: 100000000000;
}

.menu__logo {
  width: 120px;
  margin: 10px 0px 7px 40px;
}

.menu__list-body {
  margin: 17px 100px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  position: relative;
  margin: 0px 40px;
}

.menu__link {
  background: transparent;
  cursor: pointer;
  color: #000000;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500px;
}

.menu__link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #58c3ff;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.menu__link:focus + .menu__dropdown-content-study,
.menu__link:focus + .menu__dropdown-content-country {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(4px);
      -ms-transform: translateY(4px);
          transform: translateY(4px);
}

.menu__link:focus + .menu__dropdown-content-country {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(4px);
      -ms-transform: translateY(4px);
          transform: translateY(4px);
}

.menu__link:focus:after {
  width: 50%;
  left: 23%;
}

.menu__dropdown-content-study,
.menu__dropdown-content-country {
  margin-top: 9px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 100px;
  background: white;
  -webkit-box-shadow: 0 18.8px 4.1px -11px rgba(0, 0, 0, 0.024), 0 24.6px 10.3px -11px rgba(0, 0, 0, 0.042), 0 26.6px 21.1px -11px rgba(0, 0, 0, 0.053), 0 28px 43.4px -11px rgba(0, 0, 0, 0.062), 0 30px 119px -11px rgba(0, 0, 0, 0.07);
          box-shadow: 0 18.8px 4.1px -11px rgba(0, 0, 0, 0.024), 0 24.6px 10.3px -11px rgba(0, 0, 0, 0.042), 0 26.6px 21.1px -11px rgba(0, 0, 0, 0.053), 0 28px 43.4px -11px rgba(0, 0, 0, 0.062), 0 30px 119px -11px rgba(0, 0, 0, 0.07);
  border-radius: 0px 0px 10px 10px;
  left: -40%;
  list-style: none;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding-bottom: 5px;
}

.menu__dropdown-content-country {
  left: -64%;
}

.menu__dropdown-content-text {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: black;
  font-size: 14px;
  font-family: Roboto;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__dropdown-content-text:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

#menu__link-close {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.footer__content {
  position: relative;
}

.footer__first-block {
  width: auto;
  height: 30px;
  background-color: #ebebeb;
}

.footer__second-block {
  width: auto;
  height: 30px;
  background-color: #c4c4c4;
}

.footer__third-block {
  width: auto;
  background-color: #747474;
  text-align: center;
  padding: 20px;
}

.footer__contact {
  display: inline-block;
  position: absolute;
  top: -120px;
  left: 200px;
  padding: 40px;
  background-color: #f9f9f9;
}

.footer__how-contact {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.footer__gmail {
  font-family: Roboto;
  font-size: 14px;
  margin-bottom: 10px;
}

.footer__number {
  font-family: Roboto;
  font-size: 14px;
  margin-bottom: 10px;
}

.footer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__icons {
  margin-top: 5px;
  margin-left: 10px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.wrapper .singapure-image {
  position: relative;
  text-align: center;
}

.wrapper .singapure-image .img {
  max-width: 1300px;
  margin-top: 100px;
}

.wrapper .singapure-image .image__text {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 110px;
  font-weight: 700;
  font-family: Montserrat;
}

.wrapper .singapure-image span {
  opacity: 0;
  -webkit-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  display: inline-block;
}

.wrapper .singapure-image span.fade {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.wrapper .content {
  position: relative;
  line-height: 1.5;
  font-family: Montserrat;
  font-size: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: 150px auto 200px;
  width: 1300px;
}

.wrapper .content .text {
  margin: 10px 50px 10px 50px;
  color: #ffffff;
}

.wrapper .content .text:first-child {
  margin-top: 40px;
}

.wrapper .content .text:nth-last-child(1) {
  margin-bottom: 40px;
}

.wrapper .content .text-list {
  margin: 10px 50px 30px 50px;
  color: #ffffff;
  font-size: 15px;
}

.wrapper .content .fact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrapper .content .fact-block:nth-child(2) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 200px 0px 200px 0px;
}

.wrapper .content .fact-block__image,
.wrapper .content .fact-block__image-flags,
.wrapper .content .fact-block__image-food {
  position: relative;
  opacity: 0;
  -webkit-transform: translateX(60px);
      -ms-transform: translateX(60px);
          transform: translateX(60px);
  -webkit-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.wrapper .content .fact-block__image-flags {
  -webkit-transform: translateX(-60px);
      -ms-transform: translateX(-60px);
          transform: translateX(-60px);
}

.wrapper .content .fact-block__img {
  max-width: 700px;
}

.wrapper .content .fact-block__img-flags {
  max-width: 800px;
}

.wrapper .content .fact-block__text,
.wrapper .content .fact-block__text-flags,
.wrapper .content .fact-block__text-food {
  opacity: 0;
  -webkit-transform: translateX(-60px);
      -ms-transform: translateX(-60px);
          transform: translateX(-60px);
  -webkit-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  position: absolute;
  left: 20%;
  display: inline-block;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 1000;
}

.wrapper .content .fact-block__text-flags {
  -webkit-transform: translateX(60px);
      -ms-transform: translateX(60px);
          transform: translateX(60px);
  left: 40%;
}

.wrapper .content .fact-block__text-food .text-list {
  margin: 10px 50px 10px 50px;
}

.wrapper .content .fact-block .appear {
  opacity: 1;
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

.wrapper .content .fact-block .h1 {
  margin: 20px 0px 0px 50px;
  color: #ffffff;
  font-weight: 700;
}